@model IEnumerable<CookingSite.Models.Favorite>
@using Microsoft.AspNet.Identity;
<!DOCTYPE HTML>
<html>

<body>

 
</body>
</html>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermName)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model)
{
    if (item.AspNetUser.Email == @HttpContext.Current.User.Identity.Name)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term.TermDef )
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FavoriteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FavoriteID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FavoriteID })
            </td>
        </tr>
    }

}*@

@*</table>*@
<div class="row">
    @foreach (var item in Model)
    {
            <div class="col s8 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="picSize" src="@Html.DisplayFor(modelItem => item.Term.TermPicture)">
                        <span class="card-title">@Html.DisplayFor(modelItem => item.Term.TermName)</span>
                    </div>
                    <div class="card-content">
                        <p>
                            @Html.DisplayFor(modelItem => item.Term.TermDef)
                            @Html.DisplayFor(modelItem => item.Term.TermInfo)
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="@Html.DisplayFor(modelItem => item.Term.TermVideo)" target="_blank">Video</a>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TermID })
                        @Html.ActionLink("Details", "Details", new { id = item.TermID })
                    </div>
                </div>
            </div>
        }
    }
</div>