@model IEnumerable<CookingSite.Models.Favorite>
@using Microsoft.AspNet.Identity;
<!DOCTYPE HTML>

<h3 style="font-family: Roboto, sans-serif; font-weight: 300;">My Favorites</h3>

<div class="row container2">
    @foreach (var item in Model)
    {
        if (item.AspNetUser.Email == @HttpContext.Current.User.Identity.Name)
        {
            <div class="col s8 m4 card1">
                <div class="card">
                    <div class="card-image">
                        <img class="picSize" src="@Html.DisplayFor(modelItem => item.Term.TermPicture)">
                        <span class="card-title">@Html.DisplayFor(modelItem => item.Term.TermName)</span>
                    </div>
                    <div class="card-content">
                        <p>
                            @Html.DisplayFor(modelItem => item.Term.TermDef)
                        </p>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink("Details", "Details", "Terms", new { id = item.Term.TermID }, null)
                        @Html.ActionLink("Delete", "Delete", "Favorites", new { id = item.FavoriteID }, null)
                    </div>
                </div>
            </div>
        }
    }
</div>