@model IEnumerable<CookingSite.Models.Favorite>
@using Microsoft.AspNet.Identity;
<!DOCTYPE HTML>
<h2 style="font-family: Roboto, sans-serif;">
    My Favorites
</h2>
<form>
        <input type="text" name="search" placeholder="Search Favorites">
    </form>
<div class="row">
    @foreach (var item in Model)
    {
        if (item.AspNetUser.Email == @HttpContext.Current.User.Identity.Name)
        {
            <div class="col s8 m4">
                <div class="card">
                    <div class="card-image">
                        <img class="picSize" src="@Html.DisplayFor(modelItem => item.Term.TermPicture)">
                        <span class="card-title">@Html.DisplayFor(modelItem => item.Term.TermName)</span>
                    </div>
                    <div class="card-content">
                        <p>
                            @Html.DisplayFor(modelItem => item.Term.TermDef)
                            
                        </p>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink("Details", "Details", "Terms", new { id = item.Term.TermID }, null)
                    </div>
                </div>
            </div>
        }
    }
</div>