@model CookingSite.Models.Term

@{
    ViewBag.Title = "Details";
}

<div class="col s4 m4 detailsStyle">
    <div class="card">
        <div>
            <img class="picSize1" src="@Html.DisplayFor(model => model.TermPicture)">
            <span class="card-title"></span>
        </div>
        <div class="card-content">
            <h4 style="color: #333;">@Html.DisplayFor(model => model.TermName)</h4>
            <br />
            <p>@Html.DisplayFor(model => model.TermDef)</p>
            <br />
            <p><b>More Information: </b>@Html.DisplayFor(model => model.TermInfo)</p>

        </div>
        <div class="card-action">
            <a href="@Html.DisplayFor(model => model.TermVideo)" target="_blank">Video</a>
            @Html.ActionLink("Favorites", "Index", "Favorites")
            @Html.ActionLink("Home", "Index")
            @Html.ActionLink("Edit","Edit", new { id = Model.TermID })
        </div>
    </div>
</div>
