@model IEnumerable<CookingSite.Models.Term>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}


<script>

    $(function () {
        var $inputText = $('#inputText')

        $('#sendFile').on('click', function () {
            alert('creating object')
            var postFile = {
                userInput: $inputText.val(),
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetKey")",
                data: JSON.stringify(postFile),
                contentType: "application/json; charset=utf-8",
                success: function (data) { alert(data); window.location.reload(); },
                error: function () {
                    alert("error saving input");
                }
            });
        });
    });
</script>


<body>

    @*Recipe Entry Field*@
    <textarea id="inputText" class='autoExpand' rows='3' data-min-rows='3' title='Paste Recipe Here' placeholder="Paste Recipe Here">Copy + Paste Recipe Here</textarea>
    
    @*<div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong" data-success="right">Copy + Paste Recipe Here</label>
                </div>
            </div>
        </form>
    </div>*@

    @*FIND TERMS Button*@
    <div class="container">
        <a id="sendFile" class="waves-effect waves-light btn btn-large"><i class="material-icons right">search</i>Search Recipe</a>
    </div>
    @Html.Partial("View");

   

</body>
@*<div class="container">
        <div class="col-md-4">
            <h1>Upload Recipe</h1>
            <input type="text" id="inputText" />
            <button id="sendFile">Check Your Recipe</button>
        </div>
    </div>
    <div class="col-md-4" id="UploadedFile">

    </div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermDef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMatch)
            </th>
            <th></th>
        </tr>



        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="SetFav">
                    <input class="" type="button" value="Assign"  />
                </div>

            </td>
        </tr>
        }
        }
    </table>*@
