@model IEnumerable<CookingSite.Models.Term>
@using Microsoft.AspNet.Identity;




@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>

   $(function () {
        var $inputText = $('#inputText')

       $('#sendFile').on('click', function () {
            alert('creating object')
            var postFile = {
                userInput: $inputText.val(),
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetKey")",
                data: JSON.stringify(postFile),
                contentType: "application/json; charset=utf-8",
                success: function (data) { alert(data); },
                error: function () {
                    alert("error saving input");
                }
            });
        });
    });
</script>

<script>
    var userInput1 = " ";
    var aspId;

        function AssignButtonClicked(elem) {
            userInput1 = $(elem).data('assigned-id');
            aspId = "@HttpContext.Current.User.Identity.GetUserId()";


        };

    $(document).ready(function () {

        $('.SetFavBtn').click(function () {

                
                alert(userInput1)
                alert(aspId)
                var postFile = {
                    userInput1: userInput1,
                    aspId: aspId
                }
                var postFile1 = {
                    aspId: aspId
                }

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("SavFav")",
                    data: JSON.stringify(postFile),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) { alert(data); },
                    error: function () {
                        alert("error saving input");
                    }
                });

            });
        });

</script>
<div class="container">
    <div class="col-md-4">
        <h1>Upload Recipe</h1>
        <input type="text" id="inputText" />
        <button id="sendFile">Check Your Recipe</button>
    </div>
</div>
<div class="col-md-4" id="UploadedFile">
    
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TermName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermDef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMatch)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsMatch.Equals(true))
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermDef )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermInfo )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermVideo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermPicture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermName)
                </td>
                <td>
                    <div class="SetFav">
                        <input class="SetFavBtn" type="button" value="Assign" onclick="AssignButtonClicked(this)" data-assigned-id="@item.TermID" />
                    </div>

                </td>
            </tr>
        }
    }
</table>
